<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pantauharga.gulajava.android"
    android:installLocation="auto"
    android:versionName="1.0.0"
    android:versionCode="1">



    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme" >


        <activity
            android:name="pantauharga.gulajava.android.aktivitas.Loading"
            android:label="@string/app_name"
            android:theme="@style/AppThemeCompatLoading"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="pantauharga.gulajava.android.aktivitas.MenuUtama"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.NOLAUNCHER" />
            </intent-filter>
        </activity>





        <meta-data
            android:name="com.bumptech.glide.integration.okhttp.OkHttpGlideModule"
            android:value="GlideModule" />

        <!--<meta-data-->
            <!--android:name="com.google.android.gms.version"-->
            <!--android:value="@integer/google_play_services_version" />-->

        <!--<meta-data-->
            <!--android:name="com.google.android.geo.API_KEY"-->
            <!--android:value="AIzaSyDA0JhrTsF0nmB8TsPpMsx69e5B09UtlGs" />-->




    </application>

</manifest>
